{% extends 'layout.html' %}
{% block content %}
<form action="/" method="POST">
    <div>
        <a href='{{ url_for("edit") }}' id="new-alarm">
            <span class="material-icons">add</span>
            NEW
        </a>
    </div>
    <div class='alarm-box'>
        {% for alarm in alarms %}
        <div class="alarm">
            <div class="alarm-left">
                <h5 class="hour">{{ alarm.hour }}:{% if alarm.minute < 10 %}0{% endif %}{{ alarm.minute }}</h5>
                    <p>{{ alarm.playlist_name }}</p>
                    <a href='{{ url_for("delete", id=alarm.id) }}'>
                        <span class="material-icons" id="delete-button">
                            delete
                        </span>
                    </a>
            </div>
            <div class='alarm-right'>
                <input type="checkbox" name="state" value="{{ alarm.id }}" {% if alarm.active==1 %}checked{% endif %}>
            </div>
        </div>

        {% endfor %}
    </div>
    <div class="save-cancel">
        <!-- <button>Cancel</button> -->
        <!-- <button id="button-save">Save</button> -->
        <input type="submit" value="Save">
    </div>
</form>
{% endblock content %}